@import url("../color.css");

.contact-container {
  /* background-color: aliceblue; */
  width: 100%;
  height: 100%;
  position: inherit;
}

.new-contact-button {
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 6px;
  padding: 4px;
  border: 0;
  outline: none;
  position: absolute;
  left: 330px;
  bottom: 30px;
  cursor: pointer;
  background-color: #c7c7c7;
}

.new-contact-button:hover {
  background-color: var(--text-color-white);
}

.new-contact-button svg path {
  stroke: var(--primary-color);
  fill: var(--primary-color);
  stroke-width: 0;
}

.contact-container .contact-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contact-container .contact-header h3 {
  padding: 0;
  margin: 0;
}

.contact-container .edit {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.contact-container .edit.active{
    background-color: var(--primary-color);
}

.contact-container .edit:hover {
  background-color: var(--primary-color);
}
.contact-container .edit:hover svg path {
  fill: var(--text-color-white);
}

.contact-container .edit svg {
  width: 15px;
  height: 15px;
}

.contact-container .edit svg path {
  stroke: var(--text-color-black);
  fill: var(--text-color-black);
  stroke-width: 0;
}

.contact-container .edit-model {
  height: 0;
  width: 14rem;
  left: 9.5rem;
  top: 5rem;
  box-sizing: border-box;
  background-color: var(--primary-color);
  position: absolute;
  border-radius: 5px;
  overflow-y: hidden;
  z-index: 11;
  box-shadow: rgba(0, 0, 0, 0.506) 0px 3px 6px, rgba(0, 0, 0, 0.498) 0px 3px 6px;
  transition: height 0.35s ease-in-out;
}

.contact-container .edit-model.show {
    height: 20rem;
}

.contact-container .edit-model .edit-model_content{
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px 8px;
}

ul{
    list-style: none;
}

.edit-model_content ul li{
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.edit-model_content ul li:hover{
    background-color: #1c1c2d;
}

.edit-model_content ul .addgroup,
.edit-model_content ul .addContact{
gap: 16px;
}

.edit-model_content ul .addgroup span:first-child,
.edit-model_content ul .addContact span:first-child{
    background-color: var(--send-color);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-model_content ul .addgroup span svg{
    height: 20px;
}

.edit-model_content ul .addgroup span svg path{
    stroke-width: 0;
    fill: var(--icon-light-color);
}
.edit-model_content ul .addContact span svg path{
    stroke-width: 1.5;
    stroke: var(--icon-light-color);
}